<!DOCTYPE html>
<html>
    <head>
        <title>SunPuter | Солнечный компьютер, интерфейс сбора данных</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css" />
        <script src="/static/main.js"></script>
    </head>
    <body>
      <div class="header">
        <div class="mainContainer">

          <a href="#" class="headerLogo">
            Мониторинг окружающей среды на базе S&C
          </a>
          <div class="headerMenu">

          </div>
        </div>
      </div>
      <div class="mainBody">
        <div class="mainContainer">
          <div class="sunPutersWr">
          <% values.forEach((value) => { %>
            <!-- ITEM -->
            <div class="sunItem"
              <% if (value.imgURL) { %>
                style="height: 538px;"><a href="<%= value.imgURL %>" target="_blank" style="display: block;"><img src="<%= value.imgURL %>" width=250px height=188px ></a>
              <% } else { %>
              >
              <% } %>
              <div class="sunItemHeader">
                <% if (value.warn) { %>
                    <div class="status-warn" title="<%= value.warn.message %> [<%= new Date(value.warn.date).toLocaleString("ru") %>]">!</div>
                <%  } %>
                <%= value.location %>
                <% if (value.status) { %>
                  <% if (value.status.event === 'wakeup' && ((new Date) - new Date(value.status.date) <= 200000)) { %>
                    <div class="status status-online"></div>
                    <div class="status-text">Включено с <%= (new Date(value.status.date)).toLocaleString("ru") %></div>
                  <% } else if (value.status.event === 'sleep') { 
                      const offDate = new Date(value.status.date);
                      const offToDate = new Date(offDate.valueOf() + value.status.time * 60 * 1000);
                  %>
                    <div class="status status-offline"></div>
                    <div class="status-text">Выключено с <%= offDate.toLocaleString("ru") %> до <%= offToDate.toLocaleString("ru") %>. (Квант - <%= value.status.cost * 100 %>%)</div>
                  <% } else { %>
                    <div class="status status-offline"></div>
                  <% } %>
                <%  } %>
              </div>
              <div class="sunItemBody">
                <table>
                  <% if (value.sensors) { %>
                    <% if (value.sensors.date) { %>
                      <tr>
                        <td>
                          Актуальность
                        </td>
                        <td>
                          <% 
                            const dateTime = new Date(value.sensors.date);
                          %>
                          <%= dateTime.toLocaleString("ru") %>
                        </td>
                      </tr>
                    <% } %>
                    <% if (value.sensors.temp !== undefined) { %>
                      <tr>
                        <td>
                          Температура
                        </td>
                        <td>
                          <%= value.sensors.temp %> &deg;C
                        </td>
                      </tr>
                    <% } %>
                    <% if (value.sensors.press !== undefined) { %>
                      <tr>
                        <td>
                          Атм. давление
                        </td>
                        <td>
                          <%= value.sensors.press %> мм.рт.ст.
                        </td>
                      </tr>
                    <% } %>
                    <% if (value.sensors.mic !== undefined) { %>
                      <tr>
                        <td>
                          Шум
                        </td>
                        <td>
                          <%= value.sensors.mic %> (0-1023)
                        </td>
                      </tr>
                    <% } %>
                    <% if (value.sensors.charge !== undefined) { %>
                      <tr>
                        <td>
                          Заряд
                        </td>
                        <td>
                            <%= (value.sensors.charge * 100).toFixed(1) %> %
                        </td>
                      </tr>
                    <% } %>
                    <% if (value.sensors.gas1) { %>
                      <tr>
                        <td>
                          Детектор газа - пропан-бутан
                        </td>
                        <td>
                          <%= value.sensors.gas1[0] %> ppm
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Детектор газа - метан
                        </td>
                        <td>
                          <%= value.sensors.gas1[1] %> ppm
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Детектор газа - дым
                        </td>
                        <td>
                          <%= value.sensors.gas1[2] %> ppm
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Детектор газа - водород
                        </td>
                        <td>
                          <%= value.sensors.gas1[3] %> ppm
                        </td>
                      </tr>
                    <% } %>
                    <% if (value.sensors.gas2) { %>
                      <tr>
                        <td>
                          Детектор газа 2 - пропан-бутан
                        </td>
                        <td>
                          <%= value.sensors.gas2[0] %> ppm
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Детектор газа 2 - метан
                        </td>
                        <td>
                          <%= value.sensors.gas2[1] %> ppm
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Детектор газа 2 - CO
                        </td>
                        <td>
                          <%= value.sensors.gas2[2] %> ppm
                        </td>
                      </tr>
                    <% } %>
                  <% } %>
                </table>
              </div>
              <div class="sunItemMorePreWr">...</div>
              <div class="sunItemMore">
                <div class="moreBtn btn" onclick="itemizer(this)">
                  Подробнее
                </div>
              </div>
            </div>
            <!-- /ITEM -->
            <% }); %>
          </div>
        </div>
        <div class="sunItemMore">
          <a class="moreBtn btn" href="/export?json" target="_blank" style="text-decoration: none;">
            Экспорт в JSON
          </a>
        </div>
      </div>
      <div class="footer">
          <div class="mainContainer">
            &copy; ООО "Системная Интеграция"<br />
            г. Чебоксары, 2016
          </div>
      </div>
    </body>
</html>
