<!DOCTYPE html>
<html>
    <head>
        <title>SunPuter | Солнечный компьютер, интерфейс сбора данных</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css" />
        <script src="/static/main.js"></script>
    </head>
    <body>
      <div class="header">
        <div class="mainContainer">

          <a href="#" class="headerLogo">
            Мониторинг окружающей среды на базе S&C
          </a>
          <div class="headerMenu">

          </div>
        </div>
      </div>
      <div class="mainBody">
        <div class="mainContainer">
          <div class="sunPutersWr">
          <% values.forEach((value) => { %>
            <!-- ITEM -->
            <div class="sunItem"
              <% if (value.imgURL) { %>
                style="height: 538px;"><a href="<%= value.imgURL %>" target="_blank" style="display: block;"><img src="<%= value.imgURL %>" width=250px height=188px ></a>
              <% } else { %>
              >
              <% } %>
              <div class="sunItemHeader">
                <%= value.location %>
                <% if (value.online) { %>
                  <div class="status status-online"></div>
                <%  } else { %>
                  <div class="status status-offline"></div>
                <%  } %>
              </div>
              <div class="sunItemBody">
                <table>
                  <% if (value.date) { %>
                    <tr>
                      <td>
                        Актуальность
                      </td>
                      <td>
                        <% 
                          const dateTime = new Date(value.date);
                        %>
                        <%= dateTime.toLocaleString("ru") %>
                      </td>
                    </tr>
                  <% } %>
                  <% if (value.temp !== undefined) { %>
                    <tr>
                      <td>
                        Температура
                      </td>
                      <td>
                        <%= value.temp %> &deg;C
                      </td>
                    </tr>
                  <% } %>
                  <% if (value.press !== undefined) { %>
                    <tr>
                      <td>
                        Атм. давление
                      </td>
                      <td>
                        <%= value.press %> мм.рт.ст.
                      </td>
                    </tr>
                  <% } %>
                  <% if (value.mic !== undefined) { %>
                    <tr>
                      <td>
                        Шум
                      </td>
                      <td>
                        <%= value.mic %> (0-1023)
                      </td>
                    </tr>
                  <% } %>
                  <% if (value.volt2 !== undefined) { %>
                    <tr>
                      <td>
                        Заряд
                      </td>
                      <td>
                        <%= (value.volt2 * 100).toFixed(1) %> %
                      </td>
                    </tr>
                  <% } %>
                  <% if (value.gas1) { %>
                    <tr>
                      <td>
                        Детектор газа - пропан-бутан
                      </td>
                      <td>
                        <%= value.gas1[0] %> ppm
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Детектор газа - метан
                      </td>
                      <td>
                        <%= value.gas1[1] %> ppm
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Детектор газа - дым
                      </td>
                      <td>
                        <%= value.gas1[2] %> ppm
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Детектор газа - водород
                      </td>
                      <td>
                        <%= value.gas1[3] %> ppm
                      </td>
                    </tr>
                  <% } %>
                  <% if (value.gas2) { %>
                    <tr>
                      <td>
                        Детектор газа 2 - пропан-бутан
                      </td>
                      <td>
                        <%= value.gas2[0] %> ppm
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Детектор газа 2 - метан
                      </td>
                      <td>
                        <%= value.gas2[1] %> ppm
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Детектор газа 2 - CO
                      </td>
                      <td>
                        <%= value.gas2[2] %> ppm
                      </td>
                    </tr>
                  <% } %>
                  <% if (value.next) { %>
                    <tr>
                      <td>
                        Следующее измерение
                      </td>
                      <td>
                        <% 
                          const nextDateTime = new Date(value.next);
                        %>
                        <%= nextDateTime.toLocaleString("ru") %>
                      </td>
                    </tr>
                  <% } %>
                </table>
              </div>
              <div class="sunItemMorePreWr">...</div>
              <div class="sunItemMore">
                <div class="moreBtn btn" onclick="itemizer(this)">
                  Подробнее
                </div>
              </div>
            </div>
            <!-- /ITEM -->
            <% }); %>
          </div>
        </div>
        <div class="sunItemMore">
          <a class="moreBtn btn" href="/export?json" target="_blank" style="text-decoration: none;">
            Экспорт в JSON
          </a>
        </div>
      </div>
      <div class="footer">
          <div class="mainContainer">
            &copy; ООО "Системная Интеграция"<br />
            г. Чебоксары, 2016
          </div>
      </div>
    </body>
</html>
